[Unit]
Description=Disable OS repos on first boot
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/disable-repos.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target